# Node
node_modules/
npm-debug.log
.env
.env.local

# Hardhat
artifacts/
cache/
typechain/

# Frontend
frontend/.next/
frontend/out/
frontend/node_modules/

# Backend
backend/node_modules/
backend/.env

# OS
.DS_Store
Thumbs.db